body {
  background-color: #f8f9fa;
}

.card {
  margin-top: 50px;
}

.card-header {
  background-color: #007bff;
  color: #fff;
}

.list-group-item {
  border-left: 0;
  border-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item:first-child {
  border-top: 0;
}

.list-group-item:last-child {
  border-bottom: 0;
}

.list-group-item .form-control {
  width: 70%;
  display: inline-block;
}

.text-decoration-line-through {
  text-decoration: line-through;
}
